@import url(reset.css)
#wrapper{
	width: 1000px;
	margin: 0 auto;
}
#logo {
	width: 346px;
	height: 344px;
	float: left;
}
#menu {
	background: url(menu_bg.png) no-repeat;
	width: 970px;
	height: 234px;
}
#menu h1{
	font: bold 50px Comic Sans MS, Verdana, sans-serif;
	text-decoration: underline;
}
	a span{
	font: bold 36px Comic Sans MS, Verdana, sans-serif;
	}
	
	ul {
    width: 300px;
    list-style: none;
    margin-left: 500px;
	margin-bottom: 300px;
    padding: 0;
    font: bold 30px Comic Sans MS, Verdana, sans-serif; 
   }
   li ul {
    position: absolute;
    display: none;
    margin-left: 50px;
    margin-bottom: -2em;
   }
   li a {
    display: block;
    padding: 0;
    text-decoration: none;
    color: #000000;
    border-bottom: none;
   }
   li a:hover {
    color: #ff0000;
   }
   li:hover ul { 
    display: block;
   }
	a.rollover {
    background: url(lamp1.png);
    display: block;
    width: 50px;
    height: 50px;
	float: right;
   }
   a.rollover:hover {
    background: url(lamp2.png);
	float: right;
   }
